body {
    background-color: #E5E5E5;
}
button {
    background-color: mediumslateblue;
    color: white;
    border: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}